.ModalBack {
    background: rgba(0, 0, 0, 0.692);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.ModalContent{
    border-radius: 1vw;
    z-index: 99;
    padding: 1.2vw;
    width: 50%;
    min-width:300px;
    background: #181818;
}
.ModalBack.active{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:950px) {
    .ModalContent {
        width: 90%;
        border-radius: .5em;
        padding: 1em;
    }
}