.Button{
    background: #101010;
    border: none;
    cursor: pointer;
    padding: .6vw .8vw;
    font-size: 1.2vw;
    font-weight: 100;
    margin: 1.2vw 0;
}

@media screen and (max-width:950px) {
    .Button {
        padding: .5em .7em;
        font-size: 1em;
        margin: .8em 0;
    }
}